In [12]:
import pandas as pd

In [22]:
def Extract():
    data1 = pd.read_csv('dataset1.csv')
    data2 = pd.read_csv('dataset2.csv')
    return data1,data2

In [23]:
data1, data2 = Extract()

In [24]:
def createNewColumns(data1 , data2):
    data2['Age'] = data2['Death year'] - data2['Birth year']
    return data1, data2

In [25]:
def renameColumns(data1, data2):
    data1 = data1.rename(columns = {'Short description':'short_description' , 'Age of death' : 'Age'})
    data2 = data2.rename(columns = {'Birth year' : 'Birth_year' , 'Death year' : 'Death_year' , 'Manner of death' : 'death_reason'})
    return data1, data2

In [26]:
def attributeTypesTransform(data1,data2):
    data1['Age'] = data1['Age'].round().astype(int)
    data2['Gender'] = data2['Gender'].replace({1.0 : 'Male' , 2.0 : 'Female'})
    data2['Age'] = data2['Age'].round().astype(int)
    data2['Death_year'] = data2['Death_year'].round().astype(int)
    return data1, data2

In [27]:
data1, data2 = createNewColumns(data1 , data2)

In [28]:
data1 , data2 = renameColumns(data1, data2)

In [29]:
data1 = data1.dropna(subset=['Age'])
data1, data2 = attributeTypesTransform(data1,data2)

In [30]:
data1

,Name,short_description,Gender,Occupation,Age
0,Vilém Pospíšil,Baptist minister,Male,Pastor,73
1,Elise Schmieden,schrijfster (1841-1896),NaN,Artist,55
2,Jerónimo de Rueda,Spanish baroque painter,Male,Artist,80
3,August Karl Wilhelm Weissenbruch,German author,Male,Artist,82
4,Gösta Göthlin,schwedischer Arzt und Bakteriologe,Male,Physician,89
...,...,...,...,...,...
917126,Philip Jones of Fonmon,Welsh politician,Male,Politician,56
917127,Stefan Jakovljević,botanist (1890-1962),Male,Researcher,72
917128,Kurt Berthold,maestru d'armes alemán (1902–1977),Male,Athlete,75
917129,Ray Frenette,Canadian politician,Male,Politician,83
917130,Zygmunt Mitera,polnischer Arzt,Male,Physician,37

### dealing with nulls

In [31]:
data1.isna().sum()

Name                      0
short_description     51027
Gender               100368
Occupation           155386
Age                       0
dtype: int64

In [32]:
dataNoNulls = data1.dropna()
dataNoNulls.isna().sum()

Name                 0
short_description    0
Gender               0
Occupation           0
Age                  0
dtype: int64

In [33]:
dataNoNulls.shape

(685438, 5)

In [34]:
data2.isna().sum()

Name                 0
Gender           93713
Country         234467
Birth_year           0
Death_year           0
death_reason    818423
Age                  0
dtype: int64

In [35]:
data2NoNulls = data2.dropna()
data2NoNulls.isna().sum()

Name            0
Gender          0
Country         0
Birth_year      0
Death_year      0
death_reason    0
Age             0
dtype: int64

In [36]:
data2NoNulls.shape

(33174, 7)

In [42]:
# merging data
mergedData = pd.merge(data1 , data2 , on=['Name', 'Age','Gender'], how='inner')
mergedData

,Name,short_description,Gender,Occupation,Age,Country,Birth_year,Death_year,death_reason
0,Elise Schmieden,schrijfster (1841-1896),NaN,Artist,55,NaN,1841,1896,NaN
1,Jerónimo de Rueda,Spanish baroque painter,Male,Artist,80,Spain,1670,1750,NaN
2,August Karl Wilhelm Weissenbruch,German author,Male,Artist,82,Germany,1744,1826,NaN
3,William Abbenseth,photographer,Male,Artist,74,United States of America,1898,1972,NaN
4,Anatoly Krupnov,musician and poet (1965-1997),Male,Artist,32,Russia,1965,1997,NaN
...,...,...,...,...,...,...,...,...,...
647832,Hans Bosman,Dutch painter,Male,Artist,54,Kingdom of the Netherlands,1958,2012,NaN
647833,Philip Jones of Fonmon,Welsh politician,Male,Politician,56,Kingdom of England,1618,1674,NaN
647834,Stefan Jakovljević,botanist (1890-1962),Male,Researcher,72,Serbia,1890,1962,NaN
647835,Kurt Berthold,maestru d'armes alemán (1902–1977),Male,Athlete,75,Germany,1902,1977,NaN
647836,Zygmunt Mitera,polnischer Arzt,Male,Physician,37,Poland,1903,1940,NaN

In [43]:
mergedData[mergedData.duplicated()]

,Name,short_description,Gender,Occupation,Age,Country,Birth_year,Death_year,death_reason
1149,Stefano Scerra,roman-catholic archbishop,Male,Religious figure,84,NaN,1775,1859,NaN
1151,Stefano Scerra,italienischer Kurienbischof,Male,NaN,84,NaN,1775,1859,NaN
3211,James Davies,Welsh Baptist minister (1767?-1860),Male,Minister,93,NaN,1767,1860,NaN
8320,John Dawes,NaN,Male,NaN,98,NaN,1596,1694,NaN
8321,John Dawes,NaN,Male,NaN,98,NaN,1602,1700,NaN
...,...,...,...,...,...,...,...,...,...
605904,Wojciech Stawowski,roman-catholic bishop,Male,Religious figure,68,NaN,1625,1693,NaN
616100,Antonín Masák,"český učitel, historik, heraldik a sfragistik",Male,Teacher,60,Austria-Hungary,1856,1916,NaN
616398,Maria Antonelli,pioneer of Italian fashion design,Female,Fashion designer,66,Italy,1903,1969,NaN
617317,James Gordon,Scottish bishop,Male,Religious figure,81,NaN,1665,1746,NaN
631229,Maria Teresa Lega,1812-1890,Female,NaN,78,NaN,1812,1890,NaN

In [44]:
mergedDataDup = mergedData.drop_duplicates()
mergedDataDup

,Name,short_description,Gender,Occupation,Age,Country,Birth_year,Death_year,death_reason
0,Elise Schmieden,schrijfster (1841-1896),NaN,Artist,55,NaN,1841,1896,NaN
1,Jerónimo de Rueda,Spanish baroque painter,Male,Artist,80,Spain,1670,1750,NaN
2,August Karl Wilhelm Weissenbruch,German author,Male,Artist,82,Germany,1744,1826,NaN
3,William Abbenseth,photographer,Male,Artist,74,United States of America,1898,1972,NaN
4,Anatoly Krupnov,musician and poet (1965-1997),Male,Artist,32,Russia,1965,1997,NaN
...,...,...,...,...,...,...,...,...,...
647832,Hans Bosman,Dutch painter,Male,Artist,54,Kingdom of the Netherlands,1958,2012,NaN
647833,Philip Jones of Fonmon,Welsh politician,Male,Politician,56,Kingdom of England,1618,1674,NaN
647834,Stefan Jakovljević,botanist (1890-1962),Male,Researcher,72,Serbia,1890,1962,NaN
647835,Kurt Berthold,maestru d'armes alemán (1902–1977),Male,Athlete,75,Germany,1902,1977,NaN
647836,Zygmunt Mitera,polnischer Arzt,Male,Physician,37,Poland,1903,1940,NaN

In [50]:
mergedDataDup.isna().sum()

Name                      0
short_description     35903
Gender                70711
Occupation           109666
Age                       0
Country              177795
Birth_year                0
Death_year                0
death_reason         619163
dtype: int64

In [51]:
619163 - 647588

-28425

In [45]:
mergedDataDup.isna().sum()

Name                      0
short_description     35903
Gender                70711
Occupation           109666
Age                       0
Country              177795
Birth_year                0
Death_year                0
death_reason         619163
dtype: int64

In [47]:
test = mergedDataDup.dropna(subset=['short_description' , 'Gender' ,'Occupation'])

In [48]:
test.shape

(484229, 9)

In [57]:
mergedDataDup.isna().sum()

Name                      0
short_description     35903
Gender                70711
Occupation           109666
Age                       0
Country              177795
Birth_year                0
Death_year                0
death_reason         619163
dtype: int64

In [52]:
484229 - 458023

26206

In [59]:
mergedDataDup

,Name,short_description,Gender,Occupation,Age,Country,Birth_year,Death_year,death_reason
0,Elise Schmieden,schrijfster (1841-1896),NaN,Artist,55,NaN,1841,1896,NaN
1,Jerónimo de Rueda,Spanish baroque painter,Male,Artist,80,Spain,1670,1750,NaN
2,August Karl Wilhelm Weissenbruch,German author,Male,Artist,82,Germany,1744,1826,NaN
3,William Abbenseth,photographer,Male,Artist,74,United States of America,1898,1972,NaN
4,Anatoly Krupnov,musician and poet (1965-1997),Male,Artist,32,Russia,1965,1997,NaN
...,...,...,...,...,...,...,...,...,...
647832,Hans Bosman,Dutch painter,Male,Artist,54,Kingdom of the Netherlands,1958,2012,NaN
647833,Philip Jones of Fonmon,Welsh politician,Male,Politician,56,Kingdom of England,1618,1674,NaN
647834,Stefan Jakovljević,botanist (1890-1962),Male,Researcher,72,Serbia,1890,1962,NaN
647835,Kurt Berthold,maestru d'armes alemán (1902–1977),Male,Athlete,75,Germany,1902,1977,NaN
647836,Zygmunt Mitera,polnischer Arzt,Male,Physician,37,Poland,1903,1940,NaN

as there's no way we can guess the short description, it must be dropped

In [68]:
mergedDataDup = mergedDataDup.dropna(subset = ['short_description'])

In [69]:
mergedDataDup.shape

(611685, 9)

In [70]:
mergedDataDup.isna().sum()

Name                      0
short_description         0
Gender                60481
Occupation            79375
Age                       0
Country              154895
Birth_year                0
Death_year                0
death_reason         583611
dtype: int64

we'll impute the gender using gender-guesser

In [71]:
pip install gender-guesser

Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0
Note: you may need to restart the kernel to use updated packages.

In [72]:
import gender_guesser.detector as gender

In [73]:
d = gender.Detector()

In [74]:
def guess_gender(name):
    guessed_gender = d.get_gender(name)
    
    # Map to a more readable format
    if guessed_gender == 'male' or guessed_gender == 'mostly_male':
        return 'Male'
    elif guessed_gender == 'female' or guessed_gender == 'mostly_female':
        return 'Female'
    else:
        return None

In [82]:
mergedDataDup['Gender'] = mergedDataDup.apply(lambda row: guess_gender(row['Name']) if pd.isnull(row['Gender']) else row['Gender'], axis=1)

C:\Users\pc\AppData\Local\Temp\ipykernel_23812\1289946632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergedDataDup['Gender'] = mergedDataDup.apply(lambda row: guess_gender(row['Name']) if pd.isnull(row['Gender']) else row['Gender'], axis=1)

In [84]:
mergedDataDup.isna().sum()

Name                      0
short_description         0
Gender                60437
Occupation            79375
Age                       0
Country              154895
Birth_year                0
Death_year                0
death_reason         583611
dtype: int64

this library mostly failed, i'll try another library

In [85]:
pip install genderize

Collecting genderize
  Downloading Genderize-0.3.1-py3-none-any.whl (5.7 kB)
Requirement already satisfied: requests>=1.0.0 in c:\users\pc\anaconda3\envs\tensor\lib\site-packages (from genderize) (2.31.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\anaconda3\envs\tensor\lib\site-packages (from requests>=1.0.0->genderize) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\envs\tensor\lib\site-packages (from requests>=1.0.0->genderize) (3.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\envs\tensor\lib\site-packages (from requests>=1.0.0->genderize) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\envs\tensor\lib\site-packages (from requests>=1.0.0->genderize) (2021.10.8)
Installing collected packages: genderize
Successfully installed genderize-0.3.1
Note: you may need to restart the kernel to use updated packages.

In [86]:
from genderize import Genderize
genderize = Genderize()

In [93]:
def guess_gender(Name):
    result = genderize.get(Name=Name)
    if result:
        return result[0].get('Gender')  # Extract the predicted gender
    return None  # In case the API couldn't predict the gender

In [94]:
mergedDataDup['Gender'] = mergedDataDup.apply(lambda row: guess_gender(row['Name']) if pd.isnull(row['Gender']) else row['Gender'], axis=1)

TypeError: get() got an unexpected keyword argument 'Name'

In [65]:
mergedDataDup[mergedDataDup['Occupation'].isnull()]

,Name,short_description,Gender,Occupation,Age,Country,Birth_year,Death_year,death_reason
9,Nils Berdahl,Norwegian WW2 resistance fighter,Male,NaN,39,Norway,1905,1944,NaN
27,Bittor Arana,Basque ETA member,NaN,NaN,61,Spain,1943,2004,NaN
28,Thomas Aston,Sheriff of Cheshire/1551,Male,NaN,73,NaN,1480,1553,NaN
34,Abe Masataka,NaN,Male,NaN,78,NaN,1672,1750,NaN
59,Douglas Haddow,"Haddow, Sir (Thomas) Douglas (1913–1986), civi...",Male,NaN,73,NaN,1913,1986,NaN
...,...,...,...,...,...,...,...,...,...
647771,Thomas John Bewick,birth/death: 1821-1897 LCAuth[nb99041485] VIA...,Male,NaN,76,NaN,1821,1897,NaN
647782,William George Player Brigstocke,1910-1940,Male,NaN,30,NaN,1910,1940,NaN
647801,Jean Alex,commerçant français,NaN,NaN,78,France,1876,1954,NaN
647808,George Nicholas Sanders,Supposed to have some involvement in the assas...,Male,NaN,61,United States of America,1812,1873,NaN
647827,Filippa della Tavola,NaN,NaN,NaN,24,NaN,1395,1419,NaN

In [56]:
mergedDataDup.to_csv('mergedDataDup.csv', index=False)

In [98]:
def transform(data1, data2):
    data1 , data2 = createNewColumns(data1 , data2)
    data1 = data1.dropna(subset=['Age of death'])
    data1, data2 = renameColumns(data1, data2)   
    data1, data2 = attributeTypesTransform(data1,data2)
    return data1, data2

In [99]:
data1, data2 = Extract()

In [100]:
data1, data2 = transform(data1, data2)

In [117]:
mergedData = pd.merge(data1 , data2 , on=['Name', 'Age','Gender'], how='inner')

i'll impute the data with the following instead of dropping the nulls:

    short_description: Fill missing values with "No description available"
    Gender: Use the mode (most frequent value)
    Occupation: Fill with "Unknown"
    Country: Fill with "Unknown"
    death_reason: Fill with "Not specified"

In [125]:
mergedData['Gender'].mode()[0]

'Male'

In [128]:
mergedData.fillna({'short_description':'No description available' , 'Occupation': 'Unknown', 'Gender': mergedData['Gender'].mode()[0], 'Country': 'Unknown', 'death_reason':'Not specified'}, inplace=True)

In [129]:
mergedData.isna().sum()

Name                 0
short_description    0
Gender               0
Occupation           0
Age                  0
Country              0
Birth_year           0
Death_year           0
death_reason         0
dtype: int64

In [130]:
mergedData.drop_duplicates()
mergedData.shape

(647837, 9)